<div fxLayout="row" style="padding: 32px" fxLayoutAlign="space-between stretch">
  <md-card>
    <md-card-header>
      <md-card-title>David Stalfa</md-card-title>
    </md-card-header>
    <img md-card-image src="./assets/bios/david.png">
    <md-card-content>
      <span>David is a post-baccalaureate student in computer science at Tufts University.</span>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>Adam Plumer</md-card-title>
    </md-card-header>
    <img md-card-image src="./assets/bios/adam.png">
    <md-card-content>
      <span>Adam is a senior undergraduate student in computer science at Tufts University.</span>
    </md-card-content>
  </md-card>
</div>
