<div fxFlexFill fxLayoutAlign="center start" style="background-color: #E0E0E0; padding: 32px">
  <md-card fxFlex="225px">
    <nav-menu-container>
      <nav-menu-header label="Demos">
        <nav-menu-link link="demos/mtf">Maximal Triangle Free</nav-menu-link>
        <nav-menu-link link="demos/ng">Neighborhood Gluing</nav-menu-link>
        <nav-menu-link link="demos/sa">Simulated Annealing</nav-menu-link>
      </nav-menu-header>
    </nav-menu-container>
  </md-card>
  <div fxFlex fxFlexFill fxFlexOffset="32px">
    <router-outlet></router-outlet>
  </div>
</div>
